*,
*::before,
*::after {
  -webkit-box-sizing: border-box;  /* for Google Chrome and Apple Safari */
  -moz-box-sizing: border-box;    /* for Mozilla Firefox */
  -ms-box-sizing: border-box;   /* for Microsoft's Internet Explorer */
  box-sizing: border-box;       /* box-sizing is a property allows us to change exactly how the box-model works  */
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);

  /*  position: relative; */
  min-height: 100vh;  /* vh (viewport height as unit of measure)) */
  margin: 0;
}

.playfair-display-font {
  font-family: 'Playfair Display', serif;
}

.poppins-font {
  font-family: 'Poppins', sans-serif;
}

.font-color {
  color: #1a2236;
}

.font-white {
  color: white;
}

.font-weight-lighter {
  font-weight: lighter;
}

.bg-color {
  background-color: #1a2236;
}

.mr-3 {
  margin-right: 3px;
}

.mr-52 {
  margin-right: 52px;
}

/* Styles for mobile screens sizes at most 319px */
@media only screen and (max-width: 319px) {
  .nav-mobile {
    display: flex;
    justify-content: space-between;
  }

  .image-1-mobile {
    width: 99px;
    height: 75px;
    position: relative;
    top: -8px;
    left: -8px;
  }

  .hamburger-icon {
    position: relative;
    top: 19px;
    right: 16px;
  }

  /* Hide Navbar for tablet & desktop screens */
  .nav-desktop {
    display: none;
  }

  /* Styles for Section 1 | Headline Section */
  .section-1-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8px;
  }

  .section-1-heading-mobile {
    font-size: 50px;
    margin-bottom: 0;
  }

  .section-1-paragraph-mobile {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .section-1-button-mobile {
    display: flex;
    justify-content: center;
  }

  .section-1-button-mobile a {
    text-decoration: none;
    text-align: center;
    padding: 16px 55px;
  }

  .see-this-project-btn-mobile a {
    text-decoration: none;
  }

  .section-3-button-mobile a {
    text-decoration: none;
    text-align: center;
    padding: 11px 74px;
    margin-top: 20px;
  }

  .section-1-button-mobile a:hover {
    color: #1a2236;
    background-color: white;
    border: 1px solid #1a2236;
  }

  .section-1-button-mobile a:active {
    border: 5px solid #1a2236;
  }

  .section-1-img-mobile {
    background-image: url("../images/image2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
    height: 160px;
    position: relative;
    top: 50px;
  }

  /* Hide Section 1 | Headline Section for tablet & desktop screens */
  .section-1-desktop {
    display: none;
  }

  /* Section 2 | Projects Section */
  .section-2-heading-mobile {
    margin-top: 90px;
    font-size: 50px;
    text-align: left;
    padding-left: 10px;
  }

  .projects-container-mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .card-1-mobile,
  .card-2-mobile,
  .card-3-mobile,
  .card-4-mobile,
  .card-5-mobile,
  .card-6-mobile {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .card-1-mobile {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .card-2-mobile {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .card-3-mobile {
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .card-4-mobile {
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .card-5-mobile {
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .card-6-mobile {
    grid-row-start: 6;
    grid-row-end: 7;
  }

  .card-1-img-mobile,
  .card-2-img-mobile,
  .card-3-img-mobile,
  .card-4-img-mobile,
  .card-5-img-mobile,
  .card-6-img-mobile {
    width: 100%;
  }

  .project-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    position: relative;
    top: -2px;
  }

  .project-description h3 {
    font-size: 20px;
  }

  .project-description .project-technologies {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: -10px;
    left: -36px;
  }

  .project-description .project-technologies li {
    background-color: #98dede;
    padding: 5px 9px;
    font-size: 10px;
  }

  .see-this-project-btn-mobile {
    text-decoration: none;
    padding: 11px;
    border: 1px solid white;
  }

  .see-this-project-btn-mobile:hover {
    background-color: white;
    color: #1a2236;
  }

  .see-this-project-btn-mobile:active {
    border: 5px solid rgb(22, 22, 22);
  }

  .see-this-project-btn-mobile span {
    position: relative;
    top: 7px;
    left: 3px;
  }

  /* Hide Section 2-1 | Projects Section 2-1 for tablet & desktop screens */
  .section-2-1-desktop {
    display: none;
  }

  /* Section 3 | About Section for mobile screens */
  .section-3-heading-mobile {
    font-size: 50px;
    padding-left: 13px;
  }

  .section-3-paragraph-mobile {
    font-size: 14px;
    padding-left: 13px;
  }

  .section-3-mobile .section-3-button-mobile {
    display: flex;
    justify-content: center;
  }

  .section-3-button-mobile a span {
    position: relative;
    top: 6px;
    left: 14px;
  }

  .section-3-button-mobile a:hover {
    color: #1a2236;
    background-color: white;
    border: 1px solid #1a2236;
  }

  .section-3-button-mobile a span svg .download-icon-path-1:hover,
  .section-3-button-mobile a span svg .download-icon-path-2:hover {
    fill: #1a2236;
  }

  .section-3-button-mobile a:active {
    border: 5px solid #1a2236;
  }

  .lang-frame-skills-mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 25px;
    margin-top: 44px;
    margin-bottom: 44px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .lang-mobile,
  .frame-mobile,
  .skills-mobile {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
  }

  .lang-mobile {
    background-color: #1c528a;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .frame-mobile {
    background-color: #e2505c;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .skills-mobile {
    background-color: #febf52;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .lang-mobile h3,
  .frame-mobile h3,
  .skills-mobile h3 {
    margin-left: 20px;
  }

  .lang-mobile img {
    position: relative;
    left: 131px;
    top: 30px;
  }

  .frame-mobile img {
    position: relative;
    left: 138px;
    top: 35px;
  }

  .skills-mobile img {
    position: relative;
    left: 131px;
    top: 30px;
  }

  /* Section 4 | Get Started Section for mobile screens */
  .section-4-mobile {
    padding-bottom: 38px;
    background-color: #f9f9fa;
  }

  .section-4-mobile img {
    position: relative;
    right: 8px;
  }

  .section-4-mobile div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .section-4-heading-mobile {
    font-size: 50px;
    margin-bottom: 0;
    padding-left: 13px;
  }

  .section-4-paragraph-mobile {
    padding-left: 13px;
  }

  .section-4-mobile .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-4-mobile .contact-form .user-name-section label {
    color: #7d7c84;
    font-size: 10px;
    position: relative;
    top: 19px;
    left: 10px;
  }

  .contact-form .user-name {
    color: #7d7c84;
    padding: 20px 86px 15px 11px;
    border: 1px solid #dfdfe0;
    border-radius: 5px;
  }

  .section-4-mobile .contact-form .user-email-section {
    margin-top: 10px;
  }

  .section-4-mobile .contact-form .user-email-section label {
    color: #7d7c84;
    font-size: 10px;
    position: relative;
    top: 19px;
    left: 10px;
  }

  .contact-form .user-email {
    color: #7d7c84;
    padding: 20px 86px 15px 11px;
    border: 1px solid #dfdfe0;
    border-radius: 5px;
  }

  .contact-form textarea {
    color: #7d7c84;
    margin-top: 10px;
    width: 262px;
    height: 172px;
    padding-top: 15px;
    padding-left: 12px;
    border: 1px solid #dfdfe0;
    border-radius: 5px;
  }

  .contact-form .user-submit-btn {
    margin-top: 15px;
    text-align: center;
    padding: 11px 74px;
    border: none;
  }

  .contact-form .user-submit-btn:hover {
    border: 1px solid #1a2236;
    background-color: white;
    color: #1a2236;
  }

  .contact-form .user-submit-btn:active {
    border: 5px solid #1a2236;
  }

  /* Footer Section for mobile screens */
  .footer-mobile {
    width: 100%;
    padding: 25px 15px;
  }

  .footer-mobile .footer-1-mobile {
    display: flex;
    justify-content: flex-start;
  }

  .footer-mobile .footer-1-mobile a {
    text-decoration: none;
    color: #92dcdc;
  }

  .footer-mobile .footer-1-mobile a span {
    position: relative;
    top: 5px;
    left: 8px;
  }

  .footer-mobile .footer-2-mobile {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding-left: 0;
  }
}

/* Styles for mobile screens sizes at & above 320px */
@media only screen and (min-width: 320px) {
  .nav-mobile {
    display: flex;
    justify-content: space-between;
  }

  .image-1-mobile {
    position: relative;
    top: -8px;
    left: -8px;
  }

  .hamburger-icon {
    position: relative;
    top: 19px;
    right: 16px;
  }

  /* Hide Navbar for tablet & desktop screens */
  .nav-desktop {
    display: none;
  }

  /* Styles for Section 1/Headline Section */
  .section-1-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
  }

  .section-1-heading-mobile {
    font-size: 50px;
    margin-bottom: 0;
  }

  .section-1-paragraph-mobile {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .section-1-button-mobile {
    display: flex;
    justify-content: center;
  }

  .section-1-button-mobile a {
    text-decoration: none;
    text-align: center;
    padding: 16px 75px;
  }

  .see-this-project-btn-mobile a {
    text-decoration: none;
  }

  .section-3-button-mobile a {
    text-decoration: none;
    text-align: center;
    padding: 11px 94px;
    margin-top: 20px;
  }

  .section-1-button-mobile a:hover {
    color: #1a2236;
    background-color: white;
    border: 1px solid #1a2236;
  }

  .section-1-button-mobile a:active {
    border: 5px solid #1a2236;
  }

  .section-1-img-mobile {
    background-image: url("../images/image2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
    height: 160px;
    position: relative;
    top: 50px;
  }

  /* Hide Section 1 | Headline Section for tablet & desktop screens */
  .section-1-desktop {
    display: none;
  }

  /* Section 2 | Projects Section */
  .section-2-heading-mobile {
    margin-top: 90px;
    font-size: 50px;
    text-align: left;
    padding-left: 10px;
  }

  .projects-container-mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .card-1-mobile,
  .card-2-mobile,
  .card-3-mobile,
  .card-4-mobile,
  .card-5-mobile,
  .card-6-mobile {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .card-1-mobile {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .card-2-mobile {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .card-3-mobile {
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .card-4-mobile {
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .card-5-mobile {
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .card-6-mobile {
    grid-row-start: 6;
    grid-row-end: 7;
  }

  .card-1-img-mobile,
  .card-2-img-mobile,
  .card-3-img-mobile,
  .card-4-img-mobile,
  .card-5-img-mobile,
  .card-6-img-mobile {
    width: 100%;
  }

  .project-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    position: relative;
    top: -2px;
  }

  .project-description h3 {
    font-size: 20px;
  }

  .project-description .project-technologies {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: -10px;
    left: -36px;
  }

  .project-description .project-technologies li {
    background-color: #98dede;
    padding: 9px 17px;
    font-size: 10px;
  }

  .see-this-project-btn-mobile {
    text-decoration: none;
    padding: 11px;
    border: 1px solid white;
  }

  .see-this-project-btn-mobile:hover {
    background-color: white;
    color: #1a2236;
  }

  .see-this-project-btn-mobile:active {
    border: 5px solid rgb(22, 22, 22);
  }

  .see-this-project-btn-mobile span {
    position: relative;
    top: 7px;
    left: 3px;
  }

  /* Hide Section 2-1 | Projects Section 2-1 for tablet & desktop screens */
  .section-2-1-desktop {
    display: none;
  }

  /* Section 3 | About Section for mobile screens */
  .section-3-heading-mobile {
    font-size: 50px;
    padding-left: 39px;
  }

  .section-3-paragraph-mobile {
    font-size: 14px;
    padding-left: 39px;
  }

  .section-3-mobile .section-3-button-mobile {
    display: flex;
    justify-content: center;
  }

  .section-3-button-mobile a span {
    position: relative;
    top: 6px;
    left: 14px;
  }

  .section-3-button-mobile a:hover {
    color: #1a2236;
    background-color: white;
    border: 1px solid #1a2236;
  }

  .section-3-button-mobile a span svg .download-icon-path-1:hover,
  .section-3-button-mobile a span svg .download-icon-path-2:hover {
    fill: #1a2236;
  }

  .section-3-button-mobile a:active {
    border: 5px solid #1a2236;
  }

  .lang-frame-skills-mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 25px;
    margin-top: 44px;
    margin-bottom: 44px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .lang-mobile,
  .frame-mobile,
  .skills-mobile {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
  }

  .lang-mobile {
    background-color: #1c528a;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .frame-mobile {
    background-color: #e2505c;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .skills-mobile {
    background-color: #febf52;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .lang-mobile h3,
  .frame-mobile h3,
  .skills-mobile h3 {
    margin-left: 20px;
  }

  .lang-mobile img {
    position: relative;
    left: 226px;
    top: 55px;
  }

  .frame-mobile img {
    position: relative;
    left: 232px;
    top: 35px;
  }

  .skills-mobile img {
    position: relative;
    left: 226px;
    top: 30px;
  }

  /* Section 4 | Get Started Section for mobile screens */
  .section-4-mobile {
    padding-bottom: 38px;
    background-color: #f9f9fa;
  }

  .section-4-mobile img {
    position: relative;
    right: 8px;
  }

  .section-4-mobile div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .section-4-heading-mobile {
    font-size: 50px;
    margin-bottom: 0;
    padding-left: 39px;
  }

  .section-4-heading-mobile,
  .section-4-paragraph-mobile {
    padding-left: 39px;
  }

  .section-4-mobile .contact-form {
    display: flex;
    flex-direction: column;
    margin-left: 39px;
    margin-right: 39px;
  }

  .section-4-mobile .contact-form .user-email-section label {
    color: #7d7c84;
    font-size: 10px;
    position: relative;
    top: 19px;
    left: 10px;
  }

  .section-4-mobile .contact-form #user-name-section label {
    color: #7d7c84;
    font-size: 10px;
    position: relative;
    top: 19px;
    left: 10px;
  }

  .contact-form .user-name {
    color: #7d7c84;
    padding: 20px 86px 15px 11px;
    border: 1px solid #dfdfe0;
    border-radius: 5px;
    width: 100%;
  }

  .section-4-mobile .contact-form .user-email-section {
    margin-top: 10px;
  }

  .contact-form .user-email {
    color: #7d7c84;
    padding: 20px 86px 15px 11px;
    border: 1px solid #dfdfe0;
    border-radius: 5px;
    width: 100%;
  }

  .contact-form textarea {
    color: #7d7c84;
    margin-top: 10px;
    width: 100%;
    height: 172px;
    padding-top: 15px;
    padding-left: 12px;
    border: 1px solid #dfdfe0;
    border-radius: 5px;
  }

  .contact-form .user-submit-btn {
    margin-top: 15px;
    text-align: center;
    padding: 11px 74px;
    border: none;
  }

  .contact-form .user-submit-btn:hover {
    border: 1px solid #1a2236;
    background-color: white;
    color: #1a2236;
  }

  .contact-form .user-submit-btn:active {
    border: 5px solid #1a2236;
  }

  .footer-mobile {
    width: 100%;
    padding: 25px 15px;
  }

  .footer-mobile .footer-1-mobile {
    display: flex;
    justify-content: flex-start;
  }

  .footer-mobile .footer-1-mobile a {
    text-decoration: none;
    color: #92dcdc;
  }

  .footer-mobile .footer-1-mobile a span {
    position: relative;
    top: 5px;
    left: 8px;
  }

  .footer-mobile .footer-2-mobile {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 0;
    padding-left: 0;
  }
}

/* Styles for tablet & desktop screen sizes at & above 768px */
@media only screen and (min-width: 768px) {
  /* Hide navbar for mobile screens*/
  .nav-mobile {
    display: none;
  }

   /* Styles for navbar */
   .nav-desktop {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid #dddfe6;
  }

  .nav-desktop ul {
    list-style: none;
    display: flex;
  }

  .nav-desktop ul li a {
    text-decoration: none;
  }

  .nav-desktop ul li .nav-hello-desktop::after {
    content: ' ';
    border-bottom: 1px solid #1a2236;
    width: 30px;
    display: flex;
    margin-right: 39px;
  }

  /* Hide Section 1 | Headline Section for mobile screens */
  .section-1-mobile,
  .section-1-button-mobile,
  .section-1-img-mobile {
    display: none;
  }

  /* Styles for Section 1 | Headline Section */
  .section-1-desktop {
    display: flex;
    justify-content: space-evenly;
  }

  .section-1-texts-desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 43px;
    left: 76px;
  }

  .section-1-texts-desktop .section-1-heading-desktop {
    font-size: 42px;
  }

  .section-1-texts-desktop .section-1-paragraph-desktop {
    font-size: 11px;
    position: relative;
    top: -28px;
    margin-right: 54px;
  }

  .section-1-button-desktop {
    text-decoration: none;
    font-size: 13px;
    margin-top: -7px;
    padding: 13px 26px;
  }

  .section-1-button-desktop:hover {
    color: #1a2236;
    background-color: white;
    border: 1px solid #1a2236;
  }

  .section-1-button-desktop:active {
    border: 5px solid #1a2236;
  }

  .section-1-image-1 {
    height: 98px;
    width: 98px;
    position: relative;
    top: 382px;
  }

  .section-1-image-2 {
    height: 481px;
    width: 702px;
  }
  
  /* Hide Section 2 | Projects Section for mobile screens */
  .section-2-mobile {
    display: none;
  }

  /* Styles for Section 2-1 | Projects Section 2-1 */
  .section-2-1-desktop {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
  }

  .section-2-1-heading-desktop {
    font-size: 51px;
    position: relative;
    bottom: 191px;
    left: 211px;
    transform: rotate(270deg);
  }

  .section-2-1-img-1 {
    width: 98px;
    height: 98px;
    position: relative;
    top: 3px;
    left: -2px;
  }

  .card-1-desktop {
    width: 100%;
  }

  .card-1-img-desktop {
    width: 100%;
  }

  .project-description-desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    position: relative;
    top: -186px;
  }

  .project-description-desktop h3 {
    font-size: 32px;
  }

  .project-description-desktop .project-technologies-desktop {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: -21px;
    left: -36px;
  }

  .project-description-desktop .project-technologies-desktop li {
    background-color: #98dede;
    padding: 9px 17px;
    font-size: 10px;
  }

  .see-this-project-btn-desktop {
    text-decoration: none;
    padding: 11px;
    background-color: white;
    color: #1a2236;
  }

  .see-this-project-btn-desktop:hover {
    background-color: #1a2236;
    color: white;
    border: 1px solid white;
  }

  .see-this-project-btn-desktop:active {
    border: 5px solid white;
  }

  .see-this-project-btn-desktop span {
    position: relative;
    top: 7px;
    left: 3px;
  }

  /* Hide Section 3 | About Section for mobile screens */
  .section-3-mobile {
    display: none;
  }

  /* Hide Section 4 | Get Started Section (Contact Form) for mobile screens */
  .section-4-mobile {
    display: none;
  }

  /* Hide Footer Section for mobile screens */
  .footer-mobile {
    display: none;
  }
}

/* Styles for tablet & desktop screen sizes at & above 820px */
@media only screen and (min-width: 820px) {
  /* Styles for Section 1 | Headline Section elements */
  .section-1-texts-desktop .section-1-heading-desktop {
    font-size: 57px;
  }

  .section-1-desktop .section-1-texts-desktop .section-1-paragraph-desktop {
    margin-right: 55px;
  }

  /* Styles for Section 2-1 | Projects Section 2-1 */
  .section-2-1-heading-desktop {
    font-size: 57px;
  }
  
  .project-description-desktop {
    position: relative;
    top: -195px;
  }

  .section-2-1-desktop .project-description-desktop h3 {
    font-size: 37px;
  }

  .project-description-desktop .project-technologies-desktop li {
    font-size: 15px;
  }

  .see-this-project-btn-desktop {
    font-size: 20px;
  }
}

/* Styles for tablet & desktop screen sizes at & above 912px */
@media only screen and (min-width: 912px){
  /* Styles for Section 1 | Headline Section elements */
  .section-1-texts-desktop {
    position: relative;
    top: 31px;
    left: 76px;
  }

  .section-1-desktop .section-1-heading-desktop {
    font-size: 60px;
  }

  .section-1-desktop .section-1-heading-desktop span {
    display: block;
  }

  .section-1-desktop .section-1-texts-desktop .section-1-paragraph-desktop {
    font-size: 15px;
    margin-right: 17px;
  }

  .section-1-button-desktop {
    font-size: 17px;
  }

  .section-1-image-1 {
    height: 108px;
    width: 108px;
    position: relative;
    top: 475px;
  }

  .section-1-image-2 {
    height: 586px;
    width: 702px;
  }

  /* Style for Section 2-1 | Projects Section 2-1 */
  .section-2-1-heading-desktop {
    font-size: 63px;
    position: relative;
    top: -226px;
    left: 249px;
  }

  .section-2-1-img-1 {
    width: 108px;
    height: 108px;
  }

  .project-description-desktop {
    position: relative;
    top: -219px;
  }

  .section-2-1-desktop .project-description-desktop h3 {
    font-size: 43px;
  }

  .project-description-desktop .project-technologies-desktop li {
    font-size: 18px;
  }

  .see-this-project-btn-desktop {
    font-size: 21px;
  }
}

/* Styles for tablet & desktop screen sizes at & above 1024px */
@media only screen and (min-width: 1024px){
  /* Styles for Section 1 | Headline Section elements */
  .section-1-desktop .section-1-heading-desktop {
    font-size: 71px;
  }
  
  .section-1-desktop .section-1-texts-desktop .section-1-paragraph-desktop {
    display: block;
    margin-right: 87px;
  }

  /* Styles for Section 2-1 | Projects Section 2-1 */
  .section-2-1-heading-desktop {
    font-size: 76px;
    position: relative;
    top: -218px
  }
}

/* Styles for tablet & desktop screen sizes at & above 1200px */
@media only screen and (min-width: 1200px){
  /* Styles for Section 1 | Headline Section elements */
  .section-1-texts-desktop {
    position: relative;
    top: 53px;
    left: 130px;
  }

  .section-1-desktop .section-1-heading-desktop {
    font-size: 82px;
  }

  .section-1-desktop .section-1-texts-desktop .section-1-paragraph-desktop {
    display: block;
    margin-right: 123px;
    font-size: 17px;
  }

  .section-1-image-1 {
    height: 146px;
    width: 146px;
    position: relative;
    top: 602px;
  }

  .section-1-image-2 {
    height: 752px;
    width: 702px;
  }

  /* Styles for Section 2-1 | Projects Section 2-1 */
  .section-2-1-heading-desktop {
    font-size: 82px;
    position: relative;
    top: -304px;
    left: 318px;
  }

  .section-2-1-img-1 {
    width: 146px;
    height: 146px;
  }

  .project-description-desktop {
    position: relative;
    top: -306px;
  }

  .section-2-1-desktop .project-description-desktop h3 {
    font-size: 58px;
  }

  .project-description-desktop .project-technologies-desktop li {
    font-size: 22px;
  }

  .see-this-project-btn-desktop {
    font-size: 28px;
  }
}

/* Styles for tablet & desktop screen sizes at & above 1500px */
@media only screen and (min-width: 1500px){
  /* Styles for Section 1 | Headline Section elements */
  .section-1-texts-desktop {
    position: relative;
    top: 98px;
    left: 130px;
  }

  .section-1-desktop .section-1-heading-desktop {
    font-size: 110px;
  }

  .section-1-desktop .section-1-texts-desktop .section-1-paragraph-desktop {
    display: block;
    margin-right: 78px;
    font-size: 23px;
  }

  .section-1-button-desktop {
    font-size: 27px;
    padding: 28px;
  }

  .section-1-image-1 {
    height: 211px;
    width: 211px;
    position: relative;
    top: 868px;
  }

  .section-1-image-2 {
    height: 1088px;
    width: 742px;
  }

  /* Styles for Section 2-1 | Projects Section 2-1 */
  .section-2-1-heading-desktop {
    font-size: 110px;
  }

  .section-2-1-img-1 {
    width: 211px;
    height: 211px;
  }

  .project-description-desktop {
    padding: 50px 37px;
    position: relative;
    top: -357px;
  }
  
  .section-2-1-desktop .project-description-desktop h3 {
    font-size: 60px;
  }

  .project-description-desktop .project-technologies-desktop {
    position: relative;
    top: -42px;
  }

  .project-description-desktop .project-technologies-desktop li {
    font-size: 25px;
  }
}

/* Styles for tablet & desktop screen sizes at & above 1800px */
@media only screen and (min-width: 1800px){
  /* Styles for Section 2-1 | Projects Section 2-1 */
  .section-2-1-heading-desktop {
    position: relative;
    top: -395px;
    left: 418px;
  }

  .project-description-desktop {
    position: relative;
    top: -454px;
  }
}